---
layout: with-news
title: Fundamental and Applied Population Biology Group
post-limit: 3
root: "./"
---

<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="infopanel">
            <a href="{{site.url}}/people"><span id="panellink" ></span></a>
            <i class="fa fa-user fa-2x fa-fw"></i>
            <div class="desc">
                <h4>People</h4>
                <p>Find out about the research team overseeing the BGRI. Information about employment opportunities for undergraduates, grraduate research positions and posts docs will also be posted here as they become available.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="infopanel">
            <a href="{{site.url}}/outputs"><span id="panellink" ></span></a>
            <i class="fa fa-file-text fa-2x fa-fw"></i>
            <div class="desc">
                <h4>Outputs</h4>
                <p>As the project develops a summary of project outputs (e.g. scientific papers, outreach activities and resources) will be posted in this repository.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="infopanel">
            <a href="{{page.root}}research"><span id="panellink" ></span></a>
            <i class="fa fa-bar-chart-o fa-rotate-90 fa-2x fa-fw"></i>
            <div class="desc">
                <h4>Research</h4>
                <p>The BBSRC-HGCA funded BGRI comprises five interlinked work packages that aim to address a broad suite of questions of fundamental and applied importance.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <br>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ site.url }}/assets/images/WP_overview.jpg" width="600" height="300">
                    <div class="carousel-caption">
                        <h2>BGRI</h2>
                        <h4>Black-grass Resistance Initiative</h4>
                    </div>
                </div>
                {% for project in site.data.projects.core-project %}
                <div class="item">
                    {% if project.image != null %}
                    <img src="{{ site.url }}/assets/images/{{ project.image }}" width="600" height="300">
                    {% else %}
                    <img  src="http://placehold.it/600x300/999999/cccccc">
                    {% endif %}
                    <div class="carousel-caption">
                        <h4>{{ project.stitle }}</h4>
                        <h5>{{ project.ltitle }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <br><br>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-8">
        <h3>Recent News, Activities and Outreach</h3>
        <hr>
        <ul class="list-unstyled">
            {% for post in site.posts limit:page.post-limit %}
            <li>
                <h4><a data-toggle="modal" data-target="{{ forloop.index | prepend: "#modal_id" }}">{{ post.title }}</a> <small>{{ post.date | date_to_string }}</small></h4>
                <p>{{ post.excerpt }}</p>
            </li>
            {% endfor %}
            <hr>
            {% if site.posts.size > page.post-limit %}
            <p class="text-center"><a href="{{ site.url}}news/index.html">Old News</a></p>
            {% endif %}
        </ul>
        <br>
    </div>
    <div class="col-sm-6 col-md-4">
        <h3>Contact BGRI</h3>
        <br>
        <div class=well>
        <p class="text-left"><i class="fa fa-twitter-square fa-lg fa-fw"></i><a data-toggle="modal" data-target="#dzc-tweets">&nbsp;@BlackGrassRI</a></p>
        <p class="text-left"><i class="fa fa-envelope fa-lg fa-fw"></i>&nbsp;paul.neve@rothamsted.ac.uk</p>
        <p class="text-left"><i class="fa fa-phone fa-lg fa-fw"></i>&nbsp;(+44)1582&nbsp;763&nbsp;133 ext:&nbsp;2310</p>
        <br>
        <p class="text-left">
           c/o Paul Neve<br>Rothamsted Research<br>West Common<br>Harpenden<br>Hertfordshire<br>AL5 2JQ
        </p>
        </div>
      </div>
</div>

<div class="row">
    <p><img src="{{ site.url }}/assets/images/Universities.png" width="600" height="100" class="img-responsive center-block"></p>
</div>

<!--
<div class="row">
  <p>{{ paginator.posts }}</p>
</div>
-->
