---
layout: with-jumbotron
title: Fundamental and Applied Population Biology Group
post-limit: 5
root: "./"
---

{% for post in site.posts %}
<div class="modal" id="{{ forloop.index | prepend: "modal_id" }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ post.title }}</h4>
      </div>
      <div class="modal-body">
        {{ post.content }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="modal twitter-modal" id="dzc-tweets" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Tweets</h4>
      </div>
      <div class="modal-body">
          <a class="twitter-timeline" href="https://twitter.com/dylan_childs" data-widget-id="442323518550585344" data-chrome="nofooter noheader noborders transparent" width="520">Tweets by @dylan_childs</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" href="https://twitter.com/dylan_childs"><i class="fa fa-twitter fa-lg fa-fw"></i>Follow</a>
      </div>
    </div>
  </div>
</div>

<!--
<div class="well text-center">
      <h4><i class="fa fa-wrench fa-fw"></i> This website is still under contruction <i class="fa fa-wrench fa-fw"></i></h4>
</div>
-->

<div class="row">
<div class="col-sm-7 col-md-8">
  <h3 class>News and Opportunities</h3>
  <hr>
  <ul class="list-unstyled">
    {% for post in site.posts limit:page.post-limit %}
      <li>
        <h4><a data-toggle="modal" data-target="{{ forloop.index | prepend: "#modal_id" }}">{{ post.title }}</a> <small>{{ post.date | date_to_string }}</small></h4>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
	<hr>
	{% if site.posts.size > page.post-limit %}
	  <p class="text-center"><a href="{{ site.url}}news/index.html">Old News</a></p>
	{% endif %}
  </ul>
  <br>
</div>
<div class="col-sm-5 col-md-4">
  <div class="well">
    <h3> Contact us </h3>
    <p>For now this just contains Dylan's contact details and links to his Twitter feed (click on the icon below)...</p>
    <br> 
    <p class="text-left"><a data-toggle="modal" data-target="#dzc-tweets"><i class="fa fa-twitter-square fa-lg fa-fw"></i></a>&nbsp;dylan_childs</p>
    <p class="text-left"><i class="fa fa-skype fa-lg fa-fw"></i>&nbsp;dylan.childs</p>
    <p class="text-left"><i class="fa fa-google-plus-square fa-lg fa-fw"></i>&nbsp;d.childs@sheffield.ac.uk</p>
    <p class="text-left"><i class="fa fa-phone fa-lg
	fa-fw"></i>&nbsp;(+44)&nbsp;(0)114&nbsp;222&nbsp;4313</p>
	<br>
	<p class="text-left">
       <small>Department of Animal and Plant Sciences<br>University of Sheffield<br>Sheffield, S10 2TN, UK</small>
	</p>
  </div>
</div>
</div>

<div class="row">
  <p>{{ paginator.posts }}</p>
</div>
