<div class="row hidden-xs">
    <div class="col-sm-4 col-md-4">
        <div class="infopanel">
            <a href="{{page.root}}people"><span id="panellink" ></span></a>
            <i class="fa fa-user fa-2x fa-fw"></i>
            <div class="desc">
                <h4>People</h4>
                <p>Pulvinar elementum integer enim neque volutpat ac tincidunt. Blandit massa enim nec dui nunc mattis enim ut. Diam quis enim lobortis scelerisque fermentum dui.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="infopanel">
            <a href="{{page.root}}partners"><span id="panellink" ></span></a>
            <i class="fa fa-globe fa-2x fa-fw"></i>
            <div class="desc">
                <h4>Partners</h4>
                <p>Pulvinar elementum integer enim neque volutpat ac tincidunt. Blandit massa enim nec dui nunc mattis enim ut. Diam quis enim lobortis scelerisque fermentum dui.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="infopanel">
            <a href="{{page.root}}outputs"><span id="panellink" ></span></a>
            <i class="fa fa-file-text fa-2x fa-fw"></i>
            <div class="desc">
                <h4>Outputs</h4>
                <p>Pulvinar elementum integer enim neque volutpat ac tincidunt. Blandit massa enim nec dui nunc mattis enim ut. Diam quis enim lobortis scelerisque fermentum dui.</p>
            </div>
        </div>
    </div>
</div>

<!--<div class="row hidden-xs">
    <div class="col-sm-3 col-md-3 text-center">
        <a href="{{page.root}}people" class="btn btn-link">
        <i class="fa fa-user fa-3x fa-fw"></i></a><h4 id="skinny-top-marg">People</h4>
    </div>
    <div class="col-sm-3 col-md-3 text-center">
        <a href="{{page.root}}partners" class="btn btn-link">
        <i class="fa fa-globe fa-3x fa-fw"></i></a><h4 id="skinny-top-marg">Partners</h4>
    </div>
    <div class="col-sm-3 col-md-3 text-center">
        <a href="{{page.root}}research" class="btn btn-link">
        <i class="fa fa-bar-chart-o fa-3x fa-fw"></i></a><h4 id="skinny-top-marg">Research</h4>
    </div>
    <div class="col-sm-3 col-md-3 text-center">
        <a href="{{page.root}}outputs" class="btn btn-link">
        <i class="fa fa-file-text fa-3x fa-fw"></i></a><h4 id="skinny-top-marg">Outputs</h4>
    </div>
</div>-->