<div class="row hidden-xs">
    <div class="col-sm-3 col-md-3 text-center">
        <a href="{{page.root}}people" class="btn btn-link">
        <i class="fa fa-user fa-3x fa-fw"></i></a><h4 id="skinny-top-marg">People</h4>
    </div>
    <div class="col-sm-3 col-md-3 text-center">
        <a href="{{page.root}}partners" class="btn btn-link">
        <i class="fa fa-globe fa-3x fa-fw"></i></a><h4 id="skinny-top-marg">Partners</h4>
    </div>
    <div class="col-sm-3 col-md-3 text-center">
        <a href="{{page.root}}research" class="btn btn-link">
        <i class="fa fa-bar-chart-o fa-3x fa-fw"></i></a><h4 id="skinny-top-marg">Research</h4>
    </div>
    <div class="col-sm-3 col-md-3 text-center">
        <a href="{{page.root}}outputs" class="btn btn-link">
        <i class="fa fa-file-text fa-3x fa-fw"></i></a><h4 id="skinny-top-marg">Outputs</h4>
    </div>
</div>