<!-- Carousel -->
<div class="row">
    <div class="col-sm-8">
        <br>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img  src="http://placehold.it/1200x500/999999/cccccc">
                    <div class="carousel-caption">
                        <h4>Here is a title for slide 1</h4>
                    </div>
                </div>
                <div class="item">
                    <img  src="http://placehold.it/1200x500/999999/cccccc">
                    <div class="carousel-caption">
                        <h4>Here is a title for slide 2</h4>
                    </div>
                </div>
                <div class="item">
                    <img  src="http://placehold.it/1200x500/999999/cccccc">
                    <div class="carousel-caption">
                        <h4>Here is a title for slide 3</h4>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <br><br>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="infopanel">
            <a href="{{page.root}}research"><span id="panellink" ></span></a>
            <i class="fa fa-bar-chart-o fa-rotate-90 fa-2x fa-fw"></i>
            <div class="desc">
                <h4>Research</h4>
                <p>Pulvinar elementum integer enim neque volutpat ac tincidunt. Blandit massa enim nec dui nunc mattis enim ut. Diam quis enim lobortis scelerisque fermentum dui.</p>
            </div>
        </div>
    </div>
</div>
