<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div id="wrap">
        {% include navbar.html%}
        <div class="jumbotron masthead">
            <div class="container">
                <h1>BBSRC-HGCA Black-grass Resistance Initiative <p><small>Unravelling herbicide resistance in black-grass from gene to field</small></p></h1>
                <img id="masthead-img" src="{{ site.url }}/assets/images/Black-grass logo.svg">
            </div>
        </div>
        <div class="container content-box">
            {{ content }}
        </div>
    </div>
    {% include footer.html%}
    {% include scripts.html%}
</body></html>
